body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    margin: auto;
    width: 960px;
}
*{
    box-sizing: border-box;
}
 
a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}


h2{
 
   
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}
/*cabecera*/
.cabecera{
    width: 960px;
    height: 525px;
    
}
.cabecera img{
    position: absolute;
}
.cabecera h1{
    font-size: 64px;
    position: absolute;
    margin-top: 20px;
    margin-left: 300px;
    color: white;
}

.caja{
    
    background-color: rgba(114, 153, 254, 0.5);
    border-radius: 10px;
    width: 350px;
    position: absolute;
    margin-left: 70px;
    margin-top: 300px;
}
.caja h2{
    padding: 20px;
    font-size: 30px;
    color: white;
    line-height: 40px;
    
}

/*.caja{
    position: absolute;
    width: 300px;
    height: 70px;
    padding: 15px;;
    background-color: rgba(42, 248, 255, 0.356);
    border-radius: 10px;
    top:300px;
    left: 70px;
   
}
*/


/*sobre mi*/
.about-me{
    width: 960px;
    
   padding: 20px;
    background-color: #7299FE;
}
.about-me h2{
    color: white;
    
}

.about-me p{
    font-size: 15px;
    padding: 25px;
    color: white;
    text-justify: distribute;
    line-height: 25px;
}
.about-me button{
    margin: 0px 0px 10px 25px;

    border: none;
    padding: 10px;
    width: 150px;
    cursor: pointer;
    background-color: palevioletred;
    border-radius: 5px;
    box-shadow: 2px 5px 5px 1px rgba(39, 41, 41, 0.137);
}

/*skills*/
.skills{
    width: 960px;
    background-color: #9122FF;
    padding: 20px;
    
}

.skills h2{
color: lightgreen;
padding-top: 25px ;
margin-bottom: 30px;

}
.skills h3{
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;

}

.skill{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-bottom: 20px;
}

.b_white{
    background-color: white;
    width: 360px;
    height: 15px;
    border-radius: 5px;
    margin: 10px;
}

.b_blue{
background-color: orange;
width: 50%;
height: 15px;
border-radius: 5px;
}
.b_orange{
    background-color: orange;
width: 90%;
height: 15px;
border-radius: 5px;
}

.b_ph{
    background-color: darkcyan;
    width: 80%;
    height: 15px;
    border-radius: 5px;
}
.b_purplu{
    background-color:lightcoral;
    width: 60%;
    height: 15px;
    border-radius: 5px;
}

.b_java{
    background-color:lightcoral;
    width: 20%;
    height: 15px;
    border-radius: 5px;
}
.b_css{
    background-color: darkcyan;
    width: 40%;
    height: 15px;
    border-radius: 5px;
}

/*portafolio*/
.porfolio{
    width: 960px;
   padding: 20px;
    background-color: #FFD233;
    color: teal;
}

.porfolio h2{
    padding-top: 25px ;
    margin-bottom: 30px;
}

.class1{
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    
}

.class1 img{
    padding-left:20px ;
}
.class2{
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    
    
}
.class2 img{
    padding-left:20px ;
    
}

/*clientes*/

.clientes{
    width: 960px;
    background-color: #3F4E62;
    padding: 20px;
    color: white;
}
.clientes h2{
    padding: 20px;
}
.imgc{
    display: flex;
    justify-content: center;
    margin: 15px;
   
}
.imgc img{
    padding: 5px;
}

.contacts{
    background-color: #1687A0;
    text-align: center;
}

.contacts h2{
    color: #FF1B1B;
    padding: 20px;
}

.contacts input{
    padding: 20px;
    width: 34%;
    border: 1px solid grey;
    margin-bottom: 20px;
    margin-right: 20px;
}

.contacts textarea{
    width: 71%;
    border: 1px solid grey;
    margin-bottom: 20px;
    margin-right: 20px;
}

.contacts .btn_enviar{
    background-color: #233451;
    border: 1px solid #233451;
    width: 20%;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
}

/* VALIDACIONES */
input:focus:invalid,
textarea:focus:invalid{
    border: 2px solid red;
    color: red;
    outline: none;
}